@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#esun_float_icon {
  position: absolute;
  z-index: 3; }
  #esun_float_icon img {
    max-width: 90px;
    width: 100%; }

#show_srm {
  z-index: 99;
  position: fixed;
  top: 120px;
  width: 100%;
  text-align: center;
  display: none; }

#srm_service_alert_show {
  margin-left: auto;
  margin-right: auto;
  border: 0;
  padding: 0;
  -webkit-box-shadow: 0 0 0 #333;
  box-shadow: 0 0 0 #333;
  width: 350px;
  height: 275px;
  background: transparent url("../img/aceDigitalAccount_20190221.png") no-repeat; }

#srm_service_alert_show .srm_service_alert_buttons {
  position: relative;
  top: 240px;
  height: 55px; }

#srm_service_alert_show .srm_service_alert_buttons .srm_service_alert_button_yes {
  position: absolute;
  top: -54px;
  display: block;
  width: 155px;
  height: 100%;
  right: 19px; }

#srm_service_alert_show .srm_service_alert_buttons .srm_service_alert_button_no {
  position: absolute;
  top: -54px;
  display: block;
  width: 155px;
  height: 100%;
  left: 15px; }

#hidden-content-table h1 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 30px; }

.rwd-table {
  line-height: 32px;
  border-collapse: collapse;
  font-size: 16px;
  width: 100%; }
  .rwd-table span {
    color: #CC6877; }
  .rwd-table ol {
    text-align: left;
    line-height: 32px;
    padding-left: 1em; }

.rwd-table tr:first-child {
  border-top: none;
  background: #26998e;
  color: #fff; }

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc; }

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #fff; }

.rwd-table th {
  display: none; }

.rwd-table td {
  display: block; }

.rwd-table td:first-child {
  margin-top: .5em; }

.rwd-table td:last-child {
  margin-bottom: .5em; }

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000; }

.rwd-table th,
.rwd-table td {
  text-align: center;
  border: 1px solid #ddd; }

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden; }

.rwd-table th,
.rwd-table td {
  padding: .5em 1em; }

@media screen and (max-width: 601px) {
  .rwd-table td:first-child {
    background: #188D76;
    color: #fff;
    margin-top: 0; }
    .rwd-table td:first-child::before {
      color: #fff; }
  .rwd-table td:before {
    width: 100%;
    display: block;
    vertical-align: top; }
  .rwd-table td.item:before {
    display: inline-block;
    width: auto; }
  .rwd-table th,
  .rwd-table td {
    text-align: left; }
  .rwd-table tr:nth-child(2) {
    border-top: none; } }

@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #f2f9ff; }
  .rwd-table td:before {
    display: none; }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em; }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0; }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0; }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important; } }

.attention-table {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  color: #636363;
  line-height: 32px; }
  .attention-table ol {
    text-align: left;
    line-height: 32px;
    padding-left: 1em; }
  .attention-table table {
    border-collapse: collapse;
    width: 100%; }
  .attention-table th {
    border: 1px solid #fff;
    background: #26998e;
    color: #fff;
    padding: 10px; }
  .attention-table td {
    border: 1px solid #ddd;
    padding: 10px; }

@-webkit-keyframes drop1-movement {
  0% {
    opacity: .6; }
  40% {
    opacity: .6; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes drop1-movement {
  0% {
    opacity: .6; }
  40% {
    opacity: .6; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.chevron-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

@-webkit-keyframes eyeBlink {
  0%,
  30%,
  36%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  32%,
  34% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0); } }

@keyframes eyeBlink {
  0%,
  30%,
  36%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  32%,
  34% {
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0); } }

@-webkit-keyframes hand {
  0% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); }
  50% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  100% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); } }

@keyframes hand {
  0% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); }
  50% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  100% {
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg); } }

@-webkit-keyframes hand-2 {
  0% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  50% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg); }
  100% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); } }

@keyframes hand-2 {
  0% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); }
  50% {
    -webkit-transform: rotate(7deg);
    transform: rotate(7deg); }
  100% {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg); } }

@-webkit-keyframes phone {
  0% {
    -webkit-transform: translateY(-28px) rotate(2deg);
    transform: translateY(-28px) rotate(2deg); }
  50% {
    -webkit-transform: translateY(-18px) rotate(-10deg);
    transform: translateY(-18px) rotate(-10deg); }
  100% {
    -webkit-transform: translateY(-28px) rotate(2deg);
    transform: translateY(-28px) rotate(2deg); } }

@keyframes phone {
  0% {
    -webkit-transform: translateY(-28px) rotate(2deg);
    transform: translateY(-28px) rotate(2deg); }
  50% {
    -webkit-transform: translateY(-18px) rotate(-10deg);
    transform: translateY(-18px) rotate(-10deg); }
  100% {
    -webkit-transform: translateY(-28px) rotate(2deg);
    transform: translateY(-28px) rotate(2deg); } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 0.2; }
  100% {
    -webkit-transform: scale(1.2, 1.5);
    transform: scale(1.2, 1.5);
    opacity: 0; } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    opacity: 0.2; }
  100% {
    -webkit-transform: scale(1.2, 1.5);
    transform: scale(1.2, 1.5);
    opacity: 0; } }

@-webkit-keyframes balloon1 {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(-10deg);
    transform: translateY(0) rotate(-10deg); }
  50% {
    -webkit-transform: translateY(-30px) rotate(18deg);
    transform: translateY(-30px) rotate(18deg); } }

@keyframes balloon1 {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(-10deg);
    transform: translateY(0) rotate(-10deg); }
  50% {
    -webkit-transform: translateY(-30px) rotate(18deg);
    transform: translateY(-30px) rotate(18deg); } }

body {
  font-family: 'Noto Sans TC', "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-size: 14px;
  color: #636363; }

.img-responsive {
  max-width: 100%;
  height: auto; }

a {
  color: #fff;
  word-break: break-all;
  text-decoration: none; }

.clearfix:after {
  display: block;
  content: ".";
  height: 0;
  clear: both;
  visibility: hidden; }

.esunlogo {
  display: block;
  float: left;
  margin: 0;
  padding: 5px 15px; }
  .esunlogo img {
    width: 225px; }

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 40px;
  left: 0;
  top: 0;
  background-color: #f8f8f8; }
  header .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; }

.target-burger {
  right: 0;
  top: 0;
  width: 3.25em;
  height: 3.25em;
  position: absolute;
  display: block;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.buns {
  width: 1.625em;
  height: 1.625em;
  list-style: none;
  margin: -0.8125em 0 0 -0.8125em;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  color: #fff;
  -webkit-transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); }
  .buns li {
    width: 100%;
    height: 2px;
    background-color: #009d96;
    position: absolute;
    top: 50%;
    margin-top: -0.75px;
    -webkit-transform: translateY(-3.75px) translateZ(0);
    transform: translateY(-3.75px) translateZ(0);
    -webkit-transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1), background-color 1s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 1s cubic-bezier(0.23, 1, 0.32, 1); }
    .buns li:last-child {
      -webkit-transform: translateY(3.75px) translateZ(0);
      transform: translateY(3.75px) translateZ(0); }

nav ul {
  list-style: none; }
  nav ul li {
    font-size: 16px;
    margin: 0 10px; }
    nav ul li a {
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      color: #009d98; }

.kv {
  background: url(../img/top-bg.png);
  background-size: cover;
  height: 756px;
  background-position: center; }
  .kv .title {
    display: inline-block;
    vertical-align: text-bottom;
    margin-bottom: 10%;
    margin-left: 70px;
    position: relative; }
    .kv .title .shopping-bag {
      position: absolute;
      right: -115px;
      top: 30px; }
    .kv .title p {
      font-size: 22px;
      border-top: 1px dashed #000;
      padding-top: 22px;
      text-align: center; }
    .kv .title a {
      display: block;
      max-width: 290px;
      width: 100%;
      font-size: 30px;
      border-radius: 37px;
      padding: 10px;
      background: #65C2B7;
      margin: 0 auto;
      text-align: center;
      padding: 10px;
      position: relative;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      z-index: 1; }
      .kv .title a:hover {
        -webkit-box-shadow: 10px 10px 20px -10px #65C2B7;
        box-shadow: 10px 10px 20px -10px #65C2B7;
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02); }
      .kv .title a::before {
        -webkit-animation: pulse 2s ease infinite;
        animation: pulse 2s ease infinite;
        border-radius: 100px;
        background: #65C2B7;
        position: absolute;
        content: "";
        z-index: -1;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0; }
    .kv .title svg {
      display: block;
      margin: 10px auto; }
  .kv .fire {
    position: absolute;
    width: 21px;
    bottom: 207px;
    right: 30px; }
    .kv .fire .fire-1 {
      opacity: 0;
      -webkit-animation: drop1-movement 3.15s .2s infinite;
      animation: drop1-movement 3.15s .2s infinite; }
    .kv .fire .fire-2 {
      position: absolute;
      left: 37px;
      top: -18px;
      width: 10px;
      opacity: 0;
      -webkit-animation: drop1-movement 2.15s .4s infinite;
      animation: drop1-movement 2.15s .4s infinite; }
    .kv .fire .fire-3 {
      position: absolute;
      left: 72px;
      top: -16px;
      opacity: 0;
      -webkit-animation: drop1-movement 3.15s .6s infinite;
      animation: drop1-movement 3.15s .6s infinite; }
  .kv .white-bear-hand {
    position: absolute;
    max-width: 76px;
    top: 61%;
    left: 67%;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-animation: hand 5.15s infinite;
    animation: hand 5.15s infinite; }
  .kv .left-con {
    max-width: 530px;
    width: 100%;
    bottom: 133px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 26%; }
  .kv .bear-phone {
    position: absolute;
    max-width: 82px;
    width: 100%;
    right: -39px;
    bottom: 105px;
    z-index: 1;
    -webkit-animation: phone 5.15s infinite;
    animation: phone 5.15s infinite; }
  .kv .black-bear-hand {
    max-width: 60px;
    top: 53%;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    position: absolute;
    -webkit-animation: hand-2 2.15s infinite;
    animation: hand-2 2.15s infinite;
    left: 63%;
    transform-origin: left; }
  .kv .container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto; }
  .kv .white-bear {
    max-width: 262px;
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: 1; }
    .kv .white-bear .eye-right {
      position: absolute;
      -webkit-animation: eyeBlink 3200ms linear infinite;
      animation: eyeBlink 3200ms linear infinite;
      width: 5px;
      height: 5px;
      background: #ffffff;
      top: 30.2%;
      right: 35%;
      border-radius: 50%; }
    .kv .white-bear .eye-left {
      position: absolute;
      -webkit-animation: eyeBlink 3200ms linear infinite;
      animation: eyeBlink 3200ms linear infinite;
      width: 5px;
      height: 5px;
      background: #ffffff;
      top: 32.5%;
      right: 60%;
      border-radius: 50%; }
  .kv .black-bear {
    max-width: 262px;
    width: 100%;
    position: relative;
    display: inline-block; }
    .kv .black-bear .eye-right {
      position: absolute;
      -webkit-animation: eyeBlink 2800ms linear infinite;
      animation: eyeBlink 2800ms linear infinite;
      width: 5px;
      height: 5px;
      background: #ffffff;
      top: 23.2%;
      right: 34%;
      border-radius: 50%; }
    .kv .black-bear .eye-left {
      position: absolute;
      -webkit-animation: eyeBlink 2800ms linear infinite;
      animation: eyeBlink 2800ms linear infinite;
      width: 5px;
      height: 5px;
      background: #ffffff;
      top: 22.5%;
      right: 65%;
      border-radius: 50%; }

.tips {
  position: relative; }
  .tips .top-bg-2 {
    position: absolute;
    bottom: -56px;
    left: 0;
    width: 100%;
    z-index: -1; }
  .tips .main-title {
    text-align: center; }
    .tips .main-title h2 {
      font-size: 32px;
      color: #EB634B; }
  .tips .row {
    max-width: 1174px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin: 80px auto;
    margin-top: 100px;
    margin-bottom: 0;
    padding-bottom: 180px; }
  .tips .col-4 {
    max-width: 182px;
    width: 100%;
    margin: 0 40px;
    background: #fff;
    border: 1px solid #3FA3B5; }
    .tips .col-4 h3 {
      background: #3FA3B5;
      text-align: center;
      color: #fff;
      padding: 10px;
      border-radius: 34px;
      font-size: 22px;
      font-weight: 500;
      -webkit-transform: translateY(-10px) translateX(-19px);
      -ms-transform: translateY(-10px) translateX(-19px);
      transform: translateY(-10px) translateX(-19px);
      width: 120%;
      position: relative;
      margin: 0; }
      .tips .col-4 h3::before {
        content: url(../img/dot-1.svg);
        position: absolute;
        left: -42px;
        top: 5px; }
    .tips .col-4 h4 {
      margin: 6px;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500; }
      .tips .col-4 h4 span {
        font-family: arial;
        color: #EB634B;
        font-size: 22px;
        font-style: italic; }
    .tips .col-4:nth-child(even) {
      border: 1px solid #F0855B;
      -webkit-transform: translateY(-35px);
      -ms-transform: translateY(-35px);
      transform: translateY(-35px); }
      .tips .col-4:nth-child(even) h3 {
        background: #F0855B; }
        .tips .col-4:nth-child(even) h3::before {
          content: url(../img/dot-2.svg); }

.meno {
  padding: 30px 0 60px;
  position: relative; }
  .meno .sub-title {
    display: table;
    margin: 0 auto;
    text-align: left; }
  .meno .content {
    text-align: center;
    max-width: 1040px;
    width: 100%;
    background: url(../img/board.svg);
    margin: 0 auto;
    padding: 30px;
    padding-top: 100px;
    height: 745px; }
    .meno .content > p {
      margin: 0;
      font-size: 22px;
      line-height: 32px; }
    .meno .content li {
      margin: 0 17px;
      position: relative;
      max-width: 250px;
      width: 100%; }
      .meno .content li .btns {
        display: block;
        color: #517B9C;
        border: 1px solid #517B9C;
        -webkit-box-shadow: 3px 4px 8px #517B9C;
        box-shadow: 3px 4px 8px #517B9C;
        background: #fff;
        max-width: 204px;
        width: 100%;
        font-size: 17px;
        border-radius: 40px;
        padding: 12px;
        text-align: center;
        margin: 0 10px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .meno .content li .btns:hover {
          background: #517B9C;
          color: #fff;
          -webkit-box-shadow: none;
          box-shadow: none; }
      .meno .content li .plus-icon {
        position: absolute; }
      .meno .content li p {
        color: #000;
        font-size: 20px;
        line-height: 32px; }
        .meno .content li p span {
          color: #009d98;
          text-decoration: underline;
          font-size: 22px; }
    .meno .content ul {
      margin: 0 auto;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 40px;
      padding: 0; }

.fancybox-bg {
  background: #e6ede6; }

.fancybox-content {
  max-width: 90%; }
  .fancybox-content a {
    color: #0082A2;
    color: #0082A2;
    word-break: break-all; }
  .fancybox-content ul {
    padding: 10px;
    line-height: 26px; }

.atten-btn {
  color: #009d98;
  font-size: 22px;
  display: block;
  margin: 20px;
  text-decoration: underline; }
  .atten-btn img {
    margin-right: 10px; }

.activity-1 {
  overflow: hidden;
  margin-top: 178px;
  position: relative; }
  .activity-1 .sub-title h3 {
    font-size: 23px;
    color: #3FA3B5;
    margin: 0;
    font-weight: 500; }
    .activity-1 .sub-title h3::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 200px;
      height: 2px;
      margin-left: 10px;
      background: #A4D2D5; }
  .activity-1 .sub-title h4 {
    font-size: 23px;
    font-weight: 500;
    margin-top: 4px; }
    .activity-1 .sub-title h4 span {
      font-size: 30px;
      color: #F0855B; }
  .activity-1 .bar {
    margin: 25px 12px;
    display: inline-block; }
  .activity-1 .bg01 {
    position: absolute;
    left: 0;
    top: 0; }
  .activity-1 .main-title {
    text-align: center; }
    .activity-1 .main-title h2 {
      font-size: 32px;
      color: #EB634B; }
  .activity-1 .txt {
    max-width: 300px;
    width: 100%;
    display: inline-block;
    vertical-align: top; }
    .activity-1 .txt h4 {
      font-size: 20px;
      color: #CC6877;
      font-weight: normal;
      max-width: 120px;
      width: 100%;
      margin: 20px auto 10px;
      border: 1px solid;
      padding: 6px;
      border-radius: 16px; }
  .activity-1 .container {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto; }
  .activity-1 .con {
    display: inline-block;
    max-width: 460px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 48px 0;
    text-align: left;
    margin-left: 100px; }
    .activity-1 .con li {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 10px; }
    .activity-1 .con .btn-group .btns {
      display: inline-block;
      color: #63B0AE;
      border: 1px solid #63B0AE;
      -webkit-box-shadow: 3px 4px 8px #63B0AE;
      box-shadow: 3px 4px 8px #63B0AE;
      background: #fff;
      max-width: 204px;
      width: 100%;
      font-size: 17px;
      border-radius: 40px;
      padding: 12px;
      text-align: center;
      margin: 0 10px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .activity-1 .con .btn-group .btns:hover {
        background: #63B0AE;
        color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .activity-1 .con .txt h4 {
      font-size: 24px;
      color: #EF7B6F; }
      .activity-1 .con .txt h4 img {
        margin: 0 15px;
        display: inline-block;
        vertical-align: middle; }
    .activity-1 .con .txt p {
      font-size: 20px;
      line-height: 32px; }
      .activity-1 .con .txt p span {
        color: #009d98;
        font-size: 24px; }
    .activity-1 .con h3.h3 {
      max-width: 265px;
      width: 100%;
      font-weight: normal;
      margin: 0 auto;
      line-height: 32px;
      border: 1px solid #FCAA95;
      border-left: 0;
      border-right: 0;
      font-size: 22px;
      padding: 12px 0; }
      .activity-1 .con h3.h3 span {
        color: #da5c73;
        font-size: 24px; }
    .activity-1 .con h3 {
      font-size: 26px; }
      .activity-1 .con h3 img {
        margin: 0 10px;
        display: inline-block;
        vertical-align: middle; }
  .activity-1 .swiper-container {
    width: 100%;
    height: 100%; }
  .activity-1 .swiper-pagination {
    text-align: center;
    width: 100%;
    bottom: -50px; }
    .activity-1 .swiper-pagination span {
      display: inline-block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #F8D0C4;
      margin: 0 5px; }
    .activity-1 .swiper-pagination span.active {
      background: #FCAA95; }
  .activity-1 .iphone-slide {
    position: relative;
    top: 43px;
    margin: 0 auto;
    max-width: 353px;
    width: 100%;
    left: 0; }
    .activity-1 .iphone-slide .focus-1 {
      position: absolute;
      z-index: 1000;
      top: 14%;
      left: 64px;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: 1s;
      -o-transition: 1s;
      transition: 1s;
      max-width: 110px;
      width: 100%;
      border-radius: 30px;
      color: #000;
      background: #ffe000;
      text-align: center; }
      .activity-1 .iphone-slide .focus-1 p {
        font-size: 18px; }
  .activity-1 .swiper-slide-active .focus-1 {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .activity-1 .iphone-canvas {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 336px;
    width: 100%;
    height: 626px;
    background: url(../img/phone-module.svg) no-repeat;
    background-position: center;
    margin: 0 30px; }

.activity-2 {
  padding: 30px 0;
  background: #F7F0E9;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #F7F0E9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left bottom, left top, from(#ffffff), to(#F7F0E9));
  background: -webkit-linear-gradient(bottom, #ffffff, #F7F0E9);
  background: -o-linear-gradient(bottom, #ffffff, #F7F0E9);
  background: linear-gradient(to top, #ffffff, #F7F0E9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative; }
  .activity-2 .atm-bg {
    position: absolute;
    left: -1px;
    top: 24%; }
  .activity-2 .main-title {
    text-align: center; }
    .activity-2 .main-title h2 {
      font-size: 32px;
      color: #EB634B; }
  .activity-2 .container {
    max-width: 1010px;
    width: 100%;
    margin: 0 auto; }
  .activity-2 .atm {
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .activity-2 .atm .message {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0; }
  .activity-2 .con {
    display: inline-block;
    max-width: 300px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 48px 0;
    margin-left: 100px; }
    .activity-2 .con .btns {
      font-size: 22px;
      background: #BFBD6D;
      border-radius: 30px;
      max-width: 260px;
      width: 100%;
      padding: 15px 0;
      display: block;
      -webkit-box-shadow: 3px 4px #ABA951;
      box-shadow: 3px 4px #ABA951;
      margin: 0 auto;
      position: relative; }
      .activity-2 .con .btns::after {
        content: url(../img/btn-reflect.png);
        display: block;
        position: absolute;
        right: 14px;
        top: 12px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        opacity: 0; }
      .activity-2 .con .btns:hover::after {
        opacity: 1; }
    .activity-2 .con .txt p {
      font-size: 20px;
      line-height: 32px; }
      .activity-2 .con .txt p span {
        color: #009d98;
        font-size: 24px; }
    .activity-2 .con h3.h3 {
      max-width: 265px;
      width: 100%;
      font-weight: normal;
      margin: 0 auto;
      line-height: 32px;
      border: 1px solid #FCAA95;
      border-left: 0;
      border-right: 0;
      font-size: 22px;
      padding: 12px 0; }
      .activity-2 .con h3.h3 span {
        color: #da5c73;
        font-size: 24px; }
    .activity-2 .con h3 {
      font-size: 26px; }
      .activity-2 .con h3 img {
        margin: 0 15px;
        display: inline-block;
        vertical-align: middle; }

.top-bg-3 {
  width: 100%;
  margin-top: -10px; }

.activity-3 {
  overflow: hidden;
  background: #F5E9E0; }
  .activity-3 .main-title {
    text-align: center; }
    .activity-3 .main-title h2 {
      font-size: 32px;
      color: #EB634B; }
  .activity-3 .bonus {
    right: 10px;
    z-index: 10; }
  .activity-3 .cashback {
    top: 75px;
    left: 29px; }
  .activity-3 .free-3 {
    width: 148px;
    height: 144px;
    border: 1px solid;
    color: #77B7A0;
    border-radius: 50%;
    display: inline-block;
    padding: 18px 0;
    background: #fff;
    margin: 0 20px; }
    .activity-3 .free-3 h1 {
      margin: 0;
      font-size: 60px; }
      .activity-3 .free-3 h1 span {
        font-size: 34px; }
    .activity-3 .free-3 p {
      margin: 0; }
  .activity-3 .plus {
    position: relative; }
    .activity-3 .plus::after {
      content: '+';
      position: absolute;
      right: -32px;
      font-size: 36px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .activity-3 .container {
    max-width: 1107px;
    width: 100%;
    margin: 0 auto; }
  .activity-3 .trans-pic {
    display: inline-block;
    vertical-align: middle;
    max-width: 510px;
    width: 100%;
    position: relative;
    margin-left: 100px; }
    .activity-3 .trans-pic .icon {
      position: absolute;
      top: 0px;
      left: 100px; }
    .activity-3 .trans-pic .icon-green {
      position: absolute;
      bottom: 0;
      right: 147px; }
    .activity-3 .trans-pic svg {
      position: absolute; }

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 146.75; }
  100% {
    stroke-dashoffset: 529; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 146.75; }
  100% {
    stroke-dashoffset: 529; } }
    .activity-3 .trans-pic #web {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      -webkit-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
      -webkit-animation: dash 1.4s ease-in-out infinite;
      animation: dash 1.4s ease-in-out infinite; }
    .activity-3 .trans-pic img {
      display: block;
      margin: 0 auto;
      z-index: 1;
      position: relative; }
  .activity-3 .list {
    display: inline-block;
    vertical-align: middle; }
    .activity-3 .list img {
      max-width: 520px;
      width: 100%; }
  .activity-3 .sub-title h3 {
    font-size: 23px;
    color: #3FA3B5;
    margin: 0;
    font-weight: 500; }
    .activity-3 .sub-title h3::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 200px;
      height: 2px;
      margin-left: 10px;
      background: #A4D2D5; }
  .activity-3 .sub-title h4 {
    font-size: 23px;
    font-weight: 500;
    margin-top: 4px; }
    .activity-3 .sub-title h4 span {
      font-size: 30px;
      color: #F0855B; }
  .activity-3 .con {
    display: inline-block;
    max-width: 460px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 48px 0;
    text-align: left; }
    .activity-3 .con li {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 10px; }
    .activity-3 .con .btn-group .btns {
      display: inline-block;
      color: #63B0AE;
      border: 1px solid #63B0AE;
      -webkit-box-shadow: 3px 4px 8px #63B0AE;
      box-shadow: 3px 4px 8px #63B0AE;
      background: #fff;
      max-width: 204px;
      width: 100%;
      font-size: 17px;
      border-radius: 40px;
      padding: 12px;
      text-align: center;
      margin: 0 10px;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .activity-3 .con .btn-group .btns:hover {
        background: #63B0AE;
        color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none; }
    .activity-3 .con .txt h4 {
      font-size: 24px;
      color: #EF7B6F; }
      .activity-3 .con .txt h4 img {
        margin: 0 15px;
        display: inline-block;
        vertical-align: middle; }
    .activity-3 .con .txt p {
      font-size: 20px;
      line-height: 32px; }
      .activity-3 .con .txt p span {
        color: #009d98;
        font-size: 24px; }
    .activity-3 .con h3.h3 {
      max-width: 265px;
      width: 100%;
      font-weight: normal;
      margin: 0 auto;
      line-height: 32px;
      border: 1px solid #FCAA95;
      border-left: 0;
      border-right: 0;
      font-size: 22px;
      padding: 12px 0; }
      .activity-3 .con h3.h3 span {
        color: #da5c73;
        font-size: 24px; }
    .activity-3 .con h3 {
      font-size: 26px; }
      .activity-3 .con h3 img {
        margin: 0 10px;
        display: inline-block;
        vertical-align: middle; }

.top-bg-4 {
  width: 100%; }

.faq {
  padding: 30px 0;
  background: #FEFCF4;
  margin-top: -3px;
  padding-top: 0; }
  .faq h5 {
    text-align: center;
    font-size: 20px;
    font-weight: normal; }
    .faq h5 img {
      display: inline-block;
      vertical-align: middle; }
  .faq ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto !important; }
    .faq ul a {
      color: #0082A2; }
  .faq .tabs {
    margin-top: 40px;
    margin-bottom: 36px;
    border-bottom: 1px solid #009d98;
    text-align: center; }
    .faq .tabs li {
      padding: 10px;
      cursor: pointer;
      padding-bottom: 20px;
      font-size: 20px;
      position: relative;
      display: inline-block;
      margin: 0 10px; }
      .faq .tabs li:hover {
        color: #009d98; }
    .faq .tabs li.active {
      color: #009d98;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      font-weight: bold; }
      .faq .tabs li.active::after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #009d98;
        position: absolute;
        bottom: -10px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
  .faq .qa-section {
    background: #fff;
    margin: 0;
    -webkit-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    -o-transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    padding: 16px;
    font-weight: normal;
    color: #636363;
    line-height: 32px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #EF7B6F;
    margin: 25px 0;
    border-radius: 10px; }
    .faq .qa-section:hover i {
      color: #a6d1ba; }
    .faq .qa-section img {
      display: block;
      margin: 10px 0; }
    .faq .qa-section h3 {
      margin: 0;
      font-weight: normal;
      color: #EF7B6F;
      line-height: 32px;
      font-size: 18px;
      position: relative;
      cursor: pointer; }
      .faq .qa-section h3 i {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
        font-size: 26px;
        color: #cee8da;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .faq .qa-section h3 i::before {
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
    .faq .qa-section .answer {
      display: none; }
      .faq .qa-section .answer .attention-table {
        padding: 16px; }
      .faq .qa-section .answer span {
        color: #CC6877; }
      .faq .qa-section .answer p {
        padding: 16px;
        font-size: 16px;
        line-height: 32px;
        margin: 0;
        text-align: justify; }
  .faq .active-qa {
    -webkit-box-shadow: 3px 3px 10px #ffffff;
    box-shadow: 3px 3px 10px #ffffff; }
    .faq .active-qa h3 i {
      color: #a6d1ba; }
      .faq .active-qa h3 i::before {
        content: "\f139"; }
  .faq .tab__content > li {
    display: none; }
  .faq .main-title {
    text-align: center; }
    .faq .main-title h2 {
      font-size: 32px;
      color: #EB634B; }
  .faq .container {
    max-width: 1010px;
    width: 100%;
    margin: 0 auto; }

.activity-4 {
  margin-top: -1px;
  overflow: hidden;
  padding: 30px 0; }
  .activity-4 .steps {
    text-align: center; }
    .activity-4 .steps .btns {
      display: block;
      color: #63B0AE;
      border: 1px solid #63B0AE;
      -webkit-box-shadow: 3px 4px 8px #63B0AE;
      box-shadow: 3px 4px 8px #63B0AE;
      background: #fff;
      max-width: 204px;
      width: 100%;
      font-size: 17px;
      border-radius: 40px;
      padding: 12px;
      text-align: center;
      margin: 0 auto;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .activity-4 .steps .btns:hover {
        background: #63B0AE;
        color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none; }
  .activity-4 h3.link {
    font-weight: 500;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px; }
    .activity-4 h3.link img {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }
  .activity-4 .search-link {
    display: block;
    color: #188D76;
    font-size: 24px;
    text-decoration: underline; }
  .activity-4 .con-table {
    max-width: 420px;
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 30px 20px;
    background: rgba(255, 255, 255, 0.685);
    padding-bottom: 30px;
    text-align: left;
    border: 1px solid #FDD5CB; }
    .activity-4 .con-table h3 {
      margin: 0;
      background: #fecdc3;
      padding: 20px;
      text-align: center;
      font-size: 20px;
      font-weight: 500; }
    .activity-4 .con-table img {
      position: absolute;
      top: 121px;
      right: 12px; }
    .activity-4 .con-table ul {
      list-style: none;
      padding: 0;
      padding: 20px;
      padding-left: 46px;
      margin: 0; }
      .activity-4 .con-table ul li {
        position: relative;
        font-size: 18px;
        line-height: 32px; }
        .activity-4 .con-table ul li span.first {
          color: #FF6161; }
        .activity-4 .con-table ul li::before {
          content: url(../img/dot.svg);
          display: inline-block;
          position: absolute;
          left: -26px; }
        .activity-4 .con-table ul li:first-child::before {
          content: url(../img/dot-wrong.svg); }
  .activity-4 .con-table-right {
    border: 1px solid #D8EDE1; }
    .activity-4 .con-table-right .btns {
      background: #BFBD6D;
      -webkit-box-shadow: 3px 4px #ABA951;
      box-shadow: 3px 4px #ABA951; }
    .activity-4 .con-table-right h3 {
      background: #cee8da;
      color: #009d98; }
    .activity-4 .con-table-right ul li:first-child::before {
      content: url(../img/dot.svg); }
    .activity-4 .con-table-right ul li span.first {
      color: #009d96; }
  .activity-4 .step {
    margin-top: 30px;
    list-style: none;
    text-align: center;
    position: relative;
    padding: 0; }
    .activity-4 .step::before {
      content: '';
      display: block;
      max-width: 896px;
      width: 100%;
      border-radius: 30px;
      background: #fac260;
      position: absolute;
      top: 50%;
      height: 50px;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 0; }
    .activity-4 .step li {
      display: inline-block;
      margin: 0 20px;
      z-index: 1;
      position: relative;
      color: #fff; }
      .activity-4 .step li span {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        font-size: 30px;
        background: #fac260;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        vertical-align: middle;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; }
      .activity-4 .step li p {
        vertical-align: middle;
        margin: 0;
        font-size: 20px;
        display: inline-block; }
  .activity-4 .main-title {
    text-align: center; }
    .activity-4 .main-title h2 {
      font-size: 32px;
      color: #EB634B; }
  .activity-4 .container {
    max-width: 1010px;
    width: 100%;
    margin: 0 auto; }
  .activity-4 .phone {
    display: inline-block;
    vertical-align: middle; }
    .activity-4 .phone img {
      max-width: 420px;
      width: 100%; }
  .activity-4 .con {
    display: inline-block;
    max-width: 466px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    padding: 48px 0;
    margin-left: 30px; }
    .activity-4 .con .btns {
      font-size: 22px;
      background: #00a2c1;
      border-radius: 30px;
      max-width: 260px;
      width: 100%;
      padding: 15px 0;
      display: block;
      -webkit-box-shadow: 3px 3px #036579;
      box-shadow: 3px 3px #036579;
      margin: 10px auto;
      position: relative; }
      .activity-4 .con .btns::after {
        content: url(../img/btn-reflect.png);
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        opacity: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
      .activity-4 .con .btns::after {
        content: url(../img/btn-reflect.png);
        display: block;
        position: absolute;
        right: 14px;
        top: 12px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        opacity: 0; }
      .activity-4 .con .btns:hover::after {
        opacity: 1; }
    .activity-4 .con .btns-green {
      background: #BFBD6D;
      margin-top: 20px;
      -webkit-box-shadow: 3px 4px #ABA951;
      box-shadow: 3px 4px #ABA951; }
    .activity-4 .con .txt p {
      font-size: 20px;
      line-height: 32px; }
      .activity-4 .con .txt p span {
        color: #009d98;
        font-size: 24px; }
    .activity-4 .con h3.h3 {
      max-width: 265px;
      font-weight: normal;
      width: 100%;
      margin: 0 auto;
      line-height: 32px;
      border: 1px solid #FCAA95;
      border-left: 0;
      border-right: 0;
      font-size: 22px;
      padding: 12px 0; }
      .activity-4 .con h3.h3 span {
        color: #CC6877;
        font-size: 26px; }
    .activity-4 .con h3 {
      font-size: 26px; }
      .activity-4 .con h3 img {
        margin: 0 10px;
        display: inline-block;
        vertical-align: middle; }

#footer {
  padding-bottom: 16px;
  background: url(../img/footerBg.jpg) repeat-y center bottom; }

.anchor {
  max-height: 47px;
  text-align: center;
  padding-top: 16px;
  margin: 0;
  padding-left: 0; }
  .anchor li {
    display: inline-block;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.06em; }
    .anchor li::before {
      color: #30ABAF;
      content: "|";
      padding: 0 5px 0 5px; }
    .anchor li a {
      display: inline;
      color: #fff;
      font-weight: normal;
      text-decoration: none;
      cursor: pointer; }
  .anchor li.first::before {
    display: none; }

.footerWarning_txt {
  font-size: 14px;
  line-height: 22px;
  text-align: justify;
  margin: 0; }

.footerWarning {
  color: #555;
  background: #f7f7f7; }
  .footerWarning .footerWarning_cont {
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.footerWarning_title {
  margin-bottom: 0.5em;
  font-size: 24px;
  letter-spacing: 0.2em;
  text-align: center; }

@media (min-width: 1200px) {
  .kv .kv-gif .laptop {
    height: 321px; } }

@media (min-width: 900px) {
  .activity-4 .con-table {
    height: 467px; }
  .footerWarning_txt {
    margin-left: 350px; }
  .footerWarning_title {
    float: left;
    font-size: 30px; } }

@media screen and (min-width: 801px) {
  .buns {
    display: none; }
  nav {
    float: right;
    width: auto; }
    nav ul {
      margin: 11px 0; }
      nav ul li {
        display: inline-block; } }

@media screen and (max-width: 1180px) {
  .meno {
    padding-left: 20px;
    padding-right: 20px; }
  .kv {
    padding: 116px 20px; }
    .kv .plus {
      max-width: 81px !important; }
    .kv .kv-gif .mobile {
      max-width: 56px;
      top: 21%;
      left: 46%; }
    .kv .kv-gif .bank {
      max-width: 120px; }
    .kv .kv-gif .laptop {
      max-width: 470px; }
    .kv .main-title {
      max-width: 412px; }
      .kv .main-title a {
        max-width: 230px;
        font-size: 24px; }
      .kv .main-title h1 img {
        max-width: 280px; }
      .kv .main-title p {
        font-size: 26px; } }

@media screen and (max-width: 1080px) {
  .activity-3 .trans-pic {
    display: block;
    margin: 0 auto; }
  .activity-3 .con {
    max-width: 549px;
    display: table;
    margin: 0 auto; }
  .tips {
    padding: 0 20px; }
    .tips .top-bg-2 {
      bottom: -3px; }
  .kv .black-bear .eye-right,
  .kv .black-bear .eye-left {
    width: 4px;
    height: 4px; }
  .kv .title {
    margin-left: 0; }
    .kv .title .shopping-bag {
      right: 50%;
      top: -107px;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%); }
  .kv .left-con {
    margin-top: 10%; } }

@media screen and (max-width: 1025px) {
  .faq {
    padding-left: 20px;
    padding-right: 20px; }
  .kv .main-title {
    margin-left: 0; }
    .kv .main-title h1 span {
      font-size: 46px; }
  .kv .kv-gif img {
    max-width: 475px; }
  .activity-1 .iphone-canvas {
    display: block;
    margin: 0 auto; }
  .activity-1 .con {
    display: block;
    margin: 0 auto; }
  .activity-4 .con {
    margin-left: 36px; }
  .meno .content {
    padding-top: 85px;
    background-size: contain;
    background-repeat: no-repeat; } }

@media screen and (max-width: 930px) {
  .tips {
    margin-top: 60px; }
    .tips .row {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-top: 30px; }
    .tips .col-4 {
      margin: 26px 40px; }
      .tips .col-4:nth-child(even) {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px); }
  .kv {
    padding: 116px 20px 30px;
    background: url(../img/top-bg-m.png);
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    height: auto; }
    .kv .left-con {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto; }
    .kv .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
    .kv .main-title {
      text-align: left; }
    .kv .title p {
      display: table;
      margin: 1em auto; }
    .kv .title .shopping-bag {
      position: static;
      margin: 27px auto;
      display: block;
      -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px); } }

@media screen and (max-width: 800px) {
  .faq .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .faq .tabs li {
      margin: 0; }
  #esun_float_icon {
    display: none; }
  .attention-table table {
    width: 500px !important;
    overflow: scroll; }
  .main-title h2 {
    font-size: 26px !important; }
  .meno .content {
    padding: 10px;
    padding-top: 30px;
    height: auto;
    background: #fff;
    border-radius: 30px;
    -webkit-box-shadow: 5px 5px 9px rgba(252, 170, 149, 0.363);
    box-shadow: 5px 5px 9px rgba(252, 170, 149, 0.363);
    border: 1px solid rgba(252, 170, 149, 0.363); }
    .meno .content li {
      margin: 20px; }
    .meno .content ul {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .activity-2 {
    overflow: hidden; }
    .activity-2 .atm,
    .activity-2 .con {
      display: block;
      margin: 0 auto; }
    .activity-2 .atm img {
      display: block;
      margin: 0 auto;
      position: relative;
      z-index: 10; }
  .activity-3 .trans-pic {
    display: block;
    margin: 0 auto; }
  .activity-3 .list,
  .activity-3 .con {
    display: block;
    margin: 0 auto; }
  .activity-3 .list img {
    display: block;
    margin: 0 auto; }
  .activity-4 {
    padding-left: 20px;
    padding-right: 20px; }
    .activity-4 .con-table {
      display: block;
      margin: 30px auto; }
      .activity-4 .con-table img {
        top: 116px; }
    .activity-4 .step::before {
      display: none; }
    .activity-4 .step li {
      margin: 12px; }
      .activity-4 .step li p {
        color: #00a2c0; }
      .activity-4 .step li span {
        width: 30px;
        height: 30px; }
    .activity-4 .phone,
    .activity-4 .con {
      display: block;
      margin: 0 auto; }
    .activity-4 .phone img {
      display: block;
      margin: 0 auto; }
  .target-burger.toggled .buns li {
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0); }
    .target-burger.toggled .buns li:last-child {
      -webkit-transform: rotate(-45deg) translateZ(0);
      transform: rotate(-45deg) translateZ(0); }
  .main-nav {
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: rgba(0, 157, 150, 0.9); }
    .main-nav ul {
      padding: 10px; }
      .main-nav ul li {
        margin: 20px;
        border-bottom: 1px solid #ffffff;
        padding: 10px; }
        .main-nav ul li a {
          font-size: 20px;
          display: block;
          color: white; }
          .main-nav ul li a:hover {
            padding-left: 10px; }
  .main-nav.toggled {
    display: block;
    z-index: 10;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; } }

@media screen and (max-width: 650px) {
  .fancybox-content {
    padding: 20px 40px; }
  .activity-2,
  .activity-3 {
    padding-left: 20px;
    padding-right: 20px; }
  .meno {
    padding-left: 0px;
    padding-right: 0px; }
    .meno .atten-btn {
      margin-left: 0px; }
  .activity-4 .con p span {
    display: block; }
  .activity-4 .search-link {
    font-size: 20px;
    line-height: 32px; }
  .meno .content ul {
    margin-top: 0; }
  .meno .content li .btns {
    margin: 0 auto; }
  .meno .content li p {
    font-size: 18px; }
    .meno .content li p span {
      font-size: 20px; }
  .meno .content > p {
    font-size: 18px; }
  .faq .qa-section {
    padding-right: 40px; }
    .faq .qa-section h3 i {
      right: -27px; }
  .faq h5 {
    font-size: 16px; }
  .faq .tabs {
    margin: 40px 0; }
    .faq .tabs li {
      font-size: 16px;
      padding: 5px;
      padding-bottom: 20px; }
  .atten-btn {
    font-size: 16px;
    margin-left: 36px; }
  .activity-3 .cashback {
    left: 0; }
  .activity-3 .trans-pic .icon {
    top: 0px;
    left: 30px;
    z-index: 2; }
  .activity-3 .trans-pic .icon-green {
    bottom: 0;
    right: 73px; }
  .activity-3 .trans-pic svg {
    max-width: 110px; }
  .activity-3 .con li {
    font-size: 16px; }
  .activity-3 .con .btn-group .btns {
    font-size: 16px;
    padding: 10px 0;
    margin: 10px;
    display: block;
    margin-left: 36px; }
  .activity-3 .sub-title h4 {
    font-size: 18px; }
    .activity-3 .sub-title h4 span {
      font-size: 26px; }
  .activity-3 .sub-title h3 {
    font-size: 22px; }
    .activity-3 .sub-title h3::after {
      margin-left: 0px; }
  .tips .row {
    padding-bottom: 32px; }
  .tips .col-4 {
    padding-bottom: 10px; }
    .tips .col-4 h3 {
      font-size: 20px; }
  .kv {
    padding-bottom: 0; }
    .kv .black-bear .eye-right,
    .kv .black-bear .eye-left {
      width: 3px;
      height: 3px; }
    .kv .white-bear .eye-right,
    .kv .white-bear .eye-left {
      width: 4px;
      height: 4px; }
    .kv .black-bear-hand {
      max-width: 38px; }
    .kv .fire {
      bottom: 126px; }
    .kv .white-bear-hand {
      max-width: 59px; }
    .kv .title a {
      max-width: 208px;
      font-size: 24px; }
    .kv .title p {
      font-size: 18px; }
    .kv .title .main_title {
      max-width: 260px; }
    .kv .title .sub_title {
      max-width: 215px; }
    .kv .title .shopping-bag {
      max-width: 40px;
      margin-bottom: 0; }
    .kv .title svg {
      margin: 0 auto; }
  .activity-3 .trans-pic {
    margin: 42px auto; }
  .activity-3 .plus::after {
    right: -25px; }
  .activity-3 .free-3 {
    width: 130px;
    height: 130px;
    margin: 0 12px; }
  .activity-1 {
    margin-top: 30px;
    padding: 0 20px; }
    .activity-1 .con .btn-group .btns {
      font-size: 16px;
      padding: 10px 0;
      margin: 10px;
      display: block;
      margin-left: 36px; }
    .activity-1 .con li {
      font-size: 16px; }
    .activity-1 .sub-title h4 {
      font-size: 18px; }
      .activity-1 .sub-title h4 span {
        font-size: 26px; }
    .activity-1 .sub-title h3 {
      font-size: 22px; }
      .activity-1 .sub-title h3::after {
        margin-left: 0px; }
    .activity-1 .bg01 {
      display: none; }
    .activity-1 .bar {
      display: none; }
    .activity-1 .txt {
      display: block;
      margin: 20px auto; }
  .activity-1 .con,
  .activity-2 .con,
  .activity-3 .con,
  .activity-4 .con {
    padding: 0; }
  .activity-1 .con .txt p,
  .activity-2 .con .txt p,
  .activity-3 .con .txt p,
  .activity-4 .con .txt p {
    font-size: 18px; }
    .activity-1 .con .txt p span,
    .activity-2 .con .txt p span,
    .activity-3 .con .txt p span,
    .activity-4 .con .txt p span {
      font-size: 20px; } }

@media screen and (max-width: 450px) {
  .kv .bear-phone {
    max-width: 60px;
    right: -32px;
    bottom: 45px;
    right: -26px;
    bottom: 58px; } }

@media screen and (max-width: 380px) {
  .kv .bear-phone {
    right: -32px;
    bottom: 45px; } }

@media screen and (max-width: 330px) {
  .meno {
    padding: 0; }
  .activity-3 .cashback {
    z-index: 2; }
  .activity-3 .trans-pic .icon {
    z-index: 0;
    left: 10px; }
  .kv .fire {
    right: 18px;
    bottom: 116px; }
  .kv .bear-phone {
    right: -44px;
    bottom: 30px; } }

/*# sourceMappingURL=style.css.map */